/* Estilos generales */
body {
    background-color: #e0e9f0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #2980b9;
    text-align: center;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px;
}

nav a:hover {
    color: #f0f0f0;
    background-color: #21618C;
    padding: 5px;
}

/* Estilos del menú desplegable */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2980b9;
    min-width: 160px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #21618C;
    border-bottom: 1px solid #21618C;
    border-right: 1px solid #21618C;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
    transform: translateY(5px);
    opacity: 1;
}

.dropdown-content li {
    margin-right: 0;
    display: block;
}

main {
    flex-grow: 1;
    padding: 20px;
}

footer {
    background-color: #2980b9;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos de las redes sociales en el pie de página */
.redes-sociales {
    list-style: none;
    padding: 0;
}

.redes-sociales li {
    display: inline;
    margin-right: 10px;
}

.redes-sociales a {
    text-decoration: none;
    color: #fff;
}

.redes-sociales a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón sobre los enlaces en el footer */
}
